@font-face {
	font-family: 'FontAwesome';
	src: url('../shared/fonts/fontawesome/fontawesome-webfont.eot?v=3.0.2');
	src: url('../shared/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=3.0.2') format('embedded-opentype'),
	url('../shared/fonts/fontawesome/fontawesome-webfont.woff?v=3.0.2') format('woff'),
	url('../shared/fonts/fontawesome/fontawesome-webfont.ttf?v=3.0.2') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#adminmenu .menu-icon-wp-lead div.wp-menu-image:before {
	font-family: "FontAwesome" !important;
	content: "\f0c0";

}
.branch-3-7 #adminmenu .menu-icon-wp-lead div.wp-menu-image:before {
display: none;
}
#adminmenu .menu-icon-wp-lead div.wp-menu-image img{
	display: none;
}
.branch-3-7 #adminmenu .menu-icon-wp-lead div.wp-menu-image img {
	display: block;
}