
.inbound-label.inbound-label-top, .inbound-label.inbound-label-bottom {
display: block;
}
#inbound-form-wrapper .inbound-label.inbound-label-bottom {
margin: 0px 0 10px 0;
}
#inbound-form-wrapper .inbound-label.inbound-label-inline {
    min-width: 80px;
display: inline-block;
padding-right: 10px;
} 
.radio-inbound-vertical.radio-inbound-label-bottom, #inbound-form-wrapper .inbound-label.inbound-label-inline.inbound-input-radio, .radio-inbound-vertical.radio-inbound-label-top {
display: block;
}
.radio-inbound-vertical.radio-inbound-label-bottom:last-child {
margin: 0px 0 10px 0; 
}
.radio-inbound-vertical.radio-inbound-label-inline {
padding-right: 5px;
}
.inbound-label.inbound-label-placeholder {
    display: none;
}
.inbound-horizontal {
    display: inline-block;
}
/* global fixes */
.inbound-field {
    margin-left: 0 !important;
    list-style-type: none !important;
    list-style-image: none !important;
    list-style: none !important;
    overflow: visible;
}
.inbound-field label {
    margin: 10px 0 4px 0;
font-weight: bold;
line-height: 1.3em;
clear: both;
}
.inbound-field input[type=radio] {
    margin-top: 4px;
    width: auto !important;
}
.inbound-field.inbound-submit-area {
padding: 0px 0 10px 0;
margin: 15px 0 0 0;
clear: both;
}
.inbound-field.inbound-submit-area input.button, .inbound-field.inbound-submit-area input[type=submit] {
font-size: 1em;
}
.inbound-description {
    font-size: 0.85em;
line-height: 1.5em;
clear: both;
font-family: sans-serif;
letter-spacing: normal;
padding: 10px 0 0 0;
width: 99.8%;
}
textarea.inbound-input-textarea {
height: 150px;
width: 99.2%;
}
#inbound-form-wrapper {
    overflow: inherit;
margin: 10px 0;
max-width: 98%;
}
#inbound-form-wrapper input[type=text], #inbound-form-wrapper input[type=url], #inbound-form-wrapper input[type=email], #inbound-form-wrapper input[type=tel], #inbound-form-wrapper input[type=number], #inbound-form-wrapper input[type=password] {
    width: 47%;
}

#inbound-form-wrapper .inbound-horizontal input[type=text], #inbound-form-wrapper .inbound-horizontal input[type=url], #inbound-form-wrapper .inbound-horizontal input[type=email], #inbound-form-wrapper .inbound-horizontal input[type=tel], #inbound-form-wrapper .inbound-horizontal input[type=number], #inbound-form-wrapper .inbound-horizontal input[type=password] {
width: 88%;
}

#inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline input[type=text], #inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline input[type=url], #inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline input[type=email], #inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline input[type=tel], #inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline input[type=number], #inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline input[type=password] {
width: 130px;
}

#inbound-form-wrapper .inbound-horizontal.label-inbound-label-inline .inbound-label.inbound-label-inline {
min-width: 60px;
display: inline-block;
padding-right: 10px;
text-align: right;
}

.inbound-label.inbound-input-radio {
    display: block;
}
.rule-done {
margin-top: 4px;
width: auto !important;
float: left;
}
.radionotdonelabel {
    display: block;
margin: 0 0 0 24px;
padding: 0;
width: auto;
line-height: 1.5;
vertical-align: top;
}
/* Grid
 * ------------------------------------------*/
.inbound-clear{
    clear:both;
    display:block;
    overflow:hidden;
    width:0;
    height:0
}
.inbound-clearfix:before, .inbound-clearfix:after, 
.inbound-row:before, .inbound-row:after, 
.inbound-row_30:before, .inbound-row_30:after{
    content:'\0020';
    display:block;
    overflow:hidden;
    width:0;
    height:0
}
.inbound-clearfix:after, .inbound-row:after, .inbound-row_30:after{
    clear:both
}
.inbound-clearfix{
    zoom:1
}
.inbound-row{
    margin-left:-10px;
    margin-right:-10px;
}
.inbound-row_30{
    margin-left:-15px;
    margin-right:-15px;
}
.inbound-grid{
    float:left;
    min-height:1px;
    padding-left:5px;
    padding-right:5px;
    position:relative;
}
.row_30 .inbound-grid{
    padding-left:15px;
    padding-right:15px;
}
.inbound-grid.full{
    width:100%;
}
.inbound-grid.one-half{
    width:48%;
}
.inbound-grid.one-third{
    width:31.333333%;
}
.inbound-grid.two-third{
    width:66.666667%;
}
.inbound-grid.one-fourth{
    width:23%;
}
.inbound-grid.three-fourth{
    width:75%;
}
.inbound-grid.one-fifth{
    width:18%;
}
.inbound-grid.two-fifth{
    width:40%;
}
.inbound-grid.three-fifth{
    width:60%;
}
.inbound-grid.four-fifth{
    width:80%;
}



/* Social Icons
 * ----------------------------------------------------- */
ul.social-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.social-links li{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 7px 0;
}
ul.social-links li a{
    background: #f2f2f2;
    border: 1px solid #EBEBEA;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #696763;
    margin: 0px 1px;
}
ul.social-links li a:hover{
    background-color: #c8232b;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}
#footer-wrapper ul.social-links{
    float: right;
}
#footer-wrapper ul.social-links li a{
    background-color: #4A4845;
    border: none;
    color: #9C9A96;
}
#footer-wrapper ul.social-links li a:hover{
    background-color: #c8232b;
    color: #fff;
}

/* About Widget
 * ----------------------------------------------------- */
.widget-about{
    background: url('images/map.png') no-repeat 0 0;
    background-size: 100%;
}
.widget-about .address,
.widget-about .telephone,
.widget-about .email{
    /*font-size: 85%;*/
}
.widget-about i{
    color: #9C9A96;
    margin-right: 5px;
}

/* Divider
 * ----------------------------------------------------- */
.divider{
    border-top: 1px solid #EBEBEA;
    height: 1px;
    margin: 0px;
    position: relative;
}
.divider.none{
    border:none
}
.divider.solid{
    border-top: 1px solid #EBEBEA;
}
.divider.dashed{
    border-top: 1px dashed #EBEBEA;
}
.divider.dotted{
    border-top: 1px dotted #EBEBEA;
}
.divider.double{
    border-top: 3px double #EBEBEA;
}

/* Teaser
 * ----------------------------------------------------- */
.teaser{
    margin-bottom: 20px;
}
.teaser .teaser-header{
    margin: 0px 0px 10px 56px;
}
.teaser .teaser-title{
    margin: 0px;
}
.teaser .teaser-subtitle{
    color: #9C9A96;
}
.teaser .teaser-icon{
    background: #4A4845;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    color: #fff;
    font-size: 16px;
    float: left;
    line-height: 36px;
    height: 36px;
    width: 36px;
    margin-top: 5px;
    text-align: center;
}
.teaser .teaser-image{
    float: left;
    height: 36px;
    width: 36px;
    margin-top: 5px;
}
.teaser:hover .teaser-icon{
    background-color: #c8232b;
}

/* Nested teaser */
.teaser.nested .teaser-content{
    margin-left: 56px
}

/* Centered teaser */
.teaser.centered{
    text-align: center;
}
.teaser.centered .teaser-icon{
    background: none;
    color: #696763;
    float: none;
    font-size: 64px;
    line-height: 64px;
    width: 64px;
    height: 64px;
    margin: 0px auto 5px auto;
}
.teaser.centered .teaser-header{
    margin-left: 0px;
}

/* Call Out
 * ----------------------------------------------------- */
.callout{
    background: #f2f2f2 url('images/gradient.png') repeat-x top left;
    border: 1px solid #EBEBEA;
    -webkit-box-shadow: inset 1px 1px 1px #f9f9f9;
       -moz-box-shadow: inset 1px 1px 1px #f9f9f9;
            box-shadow: inset 1px 1px 1px #f9f9f9;
    padding: 20px 25px 0px;
    margin-bottom: 20px;
}
.callout .left, .callout .right{
    margin-bottom: 15px;
}
.callout h2{
    font-size: 24px;
    line-height: 24px;
    margin: 0px 0px 5px;
    text-shadow: 1px 1px 1px #fff;
}
.callout .subtitle{
    font-size: 16px;
    line-height: 22px;
    text-shadow: 1px 1px 1px #fff;
    margin: 0px 0px 5px;
}
.callout .button{
    margin: 7px 0px 5px 0px
}

/* Intro
 * ----------------------------------------------------- */
.intro{
    margin-bottom: 20px;
}
.intro h1{
    margin-bottom: 10px;
}
.intro .intro-content{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

/* Tabs
 * ----------------------------------------------------- */
.tabs-content{
    margin-bottom: 20px;
}
ul.tabs-nav{
    border-bottom: 1px solid #EBEBEA;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tabs-nav li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.tabs-nav li a{
    background: #f2f2f2 url('images/gradient.png');
    border: 1px solid #EBEBEA;
    border-right: none;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    color: #696763;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    margin-bottom: -1px;
    text-shadow: 1px 1px 1px #fff;
}
ul.tabs-nav li a span{
    display: inline-block;
    margin-left: 5px;
}
ul.tabs-nav li a.active{
    background-color: #fff;
    border-bottom-color: #fff;
    color: #4A4845;
}
ul.tabs-nav li:last-child{
    border-right: 1px solid #EBEBEA;
}

.tabs > div{
    border: 1px solid #EBEBEA;;
    border-top: none;
    padding: 20px;
}

/* Accordion
 * ----------------------------------------------------- */
.accordion{
    margin-bottom: 20px
}
.accordion .pane-title{
    background: #f2f2f2 url('images/gradient.png') repeat-x top left;
    border: 1px solid #EBEBEA;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    font-size: 110%;
    display: block;
    font-weight: bold;
    padding: 12px 20px;
    position: relative;
    margin-bottom: -1px;
    text-shadow: 1px 1px 1px #fff;
}
.accordion .pane-title.active{
    color: #4A4845;
}
.accordion .pane-title .pane-icon{
    width: 16px;
    margin-right: 10px;
    text-align: center;
}
.accordion .pane-title .status-off,
.accordion .pane-title .status-on{
    color: #CECDCA;
    cursor: pointer;
    float: right;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
.accordion .pane-title .status-off{
    display: block;
}
.accordion .pane-title .status-on{
    display: none;
}
.accordion .pane-title.active .status-off{
    display: none;
}
.accordion .pane-title.active .status-on{
    display: block;
}
.accordion .pane{
    border: 1px solid #EBEBEA;
    padding: 20px;
    margin: 0px 0px 20px 0px;
}
.accordion .pane.last{
    margin: 0px;
}

/* Fancy quote
 * ----------------------------------------------------- */
.fancy-quote{
    margin: 0 0 20px;
}
.fancy-quote .quote-text{
    background: #f2f2f2 url('images/gradient.png') repeat-x top left;
    border: 1px solid #EBEBEA;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    color: #555;
    font: normal 16px/22px Georgia, serif;
    margin: 0px 0px 15px;
    padding: 20px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.fancy-quote .quote-text p{
    margin: 0;
}
.fancy-quote .quote-text .triangle{
    background: #f2f2f2;
    border: 1px solid;
    border-color: #f2f2f2 #EBEBEA #EBEBEA #f2f2f2;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -8px; left: 25px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.fancy-quote .quote-author{
    padding: 0px 0px;
    position: relative;
}
.fancy-quote .quote-author .quote-author-name{
    font-weight: bold;
}
.fancy-quote .quote-author .quote-author-name:before{
    content: "\2014 \0020";
    color: #CECDCA;
    font-weight: normal;
}
.fancy-quote .quote-author .quote-author-meta{
    color: #9C9A96;
}

/* Pricing
 * ----------------------------------------------------- */
.pricing{
    border-left: 1px solid #fff;
    margin-bottom: 30px;
    margin-top: 10px;
}
.pricing .plan{
    background: #fff;
    border: 1px solid #EBEBEA;
    float: left;
    padding: 0;
    text-align: center;
    position: relative;
    margin-left: -1px;
}
.pricing .plan-header{
    background: #f2f2f2 url('images/gradient.png') repeat-x top left;
    border-bottom: 1px solid #EBEBEA;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
    padding: 20px;
    text-shadow: 1px 1px 1px #fff;
}
.pricing .plan-header h2{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
.pricing .plan-price{
    background: #fcfcfc;
    border-bottom: 1px solid #EBEBEA;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
    padding: 20px;
    text-shadow: 1px 1px 1px #fff;
}
.pricing .plan-price strong{
    display: block;
    font-size: 40px;
    line-height: 40px;
}
.pricing .plan-price span{
    color: #9C9A96;
}
.pricing .plan-content{
    background: #fff;
}
.pricing .plan-content ul,
.pricing .plan-content ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pricing .plan-content ul li,
.pricing .plan-content ol li{
    border-bottom: 1px solid #EBEBEA;
    padding: 10px 20px;
    margin: 0;
}
.pricing .plan-footer{
    background: #f9f9f9;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
    padding: 20px;
}
.pricing .plan-footer .button{
    padding: 5px 20px;
}

/* Featured Plan */
.pricing .plan.featured{
    border-color: #CECDCA;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
       -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    z-index: 200;
    margin-top: -10px;
}
.pricing .plan.featured .plan-header{
    background-color: #e0e0e0;
    border-color: #CECDCA;
    padding: 25px 0px;
}
.pricing .plan.featured .plan-header h2{
}
.pricing .plan.featured .plan-price{
    background-color: #f2f2f2;
}
.pricing .plan.featured .plan-content{
}
.pricing .plan.featured .plan-footer{
    padding: 25px 0px;
    background-color: #f2f2f2;
    border-color: #CECDCA;
}

/* Dropcap
 * ----------------------------------------------------- */
.dropcap{
    font-size: 48px; 
    font-weight: bold;
    float: left; 
    margin: 10px 10px 10px 0;
}
.dropcap.square{
    background: #696763;
    color: #fff;
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 6px 10px 0px 0
}
.dropcap.circle{
    background: #696763;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 6px 10px 0px 0
}

/* Alert message
 * ----------------------------------------------------- */
.alert-message{
    background: #FFF;
    border: 1px solid #EBEBEA;
    padding: 8px 50px 8px 20px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.alert-message span.close{
    position: absolute;
    color: #CECDCA;
    display: inline-block;
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    right: 10px;
    top: 11px;
}
.alert-message span.close:hover{
    color: #9C9A96;
}
.alert-message.blue{
    background: #dbf3f9;
    border: 1px solid #c5e3ea;
}
.alert-message.green{
    background: #e2ffc9;
    border: 1px solid #c5eda3;
}
.alert-message.red{
    background: #ffe2e2;
    border: 1px solid #fcd1d1;
}
.alert-message.yellow{
    background: #fcf7d1;
    border: 1px solid #f2ebba;
}

/* Content Box
 * ----------------------------------------------------- */
.content-box{
    background: #f2f2f2 url('images/gradient.png') repeat-x top left;
    border: 1px solid #EBEBEA;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    margin: 0px 0px 20px;
    padding: 20px 20px 20px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.content-box > p:last-child{
    margin-bottom: 0;
}
.content-box.blue{
    background: #EEF9FC;
    border: 1px solid #dfecf9;
}
.content-box.green{
    background: #E9FFD6;
    border: 1px solid #D4F2BB;
}
.content-box.red{
    background: #FCE3E3;
    border: 1px solid #fcd1d1;
}
.content-box.yellow{
    background: #fcf7d1;
    border: 1px solid #f2ebba;
}
.content-box h1,
.content-box h2,
.content-box h3,
.content-box h4,
.content-box h5,
.content-box h6{
    margin-bottom: 10px;
}

/* Profile Box
 * ----------------------------------------------------- */
.profile-box{
    margin-bottom: 20px;
}
.profile-box .profile-img{
    margin-bottom: 15px;
}
.profile-box .profile-img img{
    display: block;
    width: 100%;
    height: auto;
    margin: -1px;
}
.profile-box .profile-name{
    margin-bottom: 0;
}
.profile-box .profile-meta{
    color: #9C9A96;
    margin-bottom: 15px;
}
.profile-box .profile-desc p:last-child{
    margin-bottom: 0px;
}
.profile-box .profile-footer{
    margin-top: 15px;
}
.profile-box .profile-footer a{
    color: #9C9A96;
    font-size: 12px;
    margin-right: 10px;
}

/* Client Box
 * ----------------------------------------------------- */
.client_box{
    margin-bottom: 20px;
}
.client_box ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.client_box ul li.inbound-grid{
    border: 1px solid #EBEBEA;
    margin: 0px -1px -1px 0px;
    padding: 0;
}
.client_box ul li a{
    display: block;
    text-align: center;
}
.client_box ul li:hover{
    border-color: #CECDCA;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
       -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    z-index: 200
}

/* Google Map
 * ----------------------------------------------------- */
.google_map{
    max-width: 100%;
    margin-bottom: 20px;
}

/* Buttons
 * ------------------------------------------*/
#respond #submit, .button{
	background:#c8232b url('../images/gradient.png') repeat-x top left;
	border:1px solid rgba(0,0,0,0.15);
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
	        border-radius:2px;
	-webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(255,255,255,0.2);
	   -moz-box-shadow:0px 2px 3px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(255,255,255,0.2);
			box-shadow:0px 2px 3px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(255,255,255,0.2);
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-family:inherit;
	font-size:14px;
	font-weight:bold;
	padding:8px 15px;
	text-shadow:-1px -1px 1px rgba(0,0,0,0.15);
	text-decoration: none;
}
.button:hover{
	background-image: url('../images/gradient-hover.png');
	color:#fff;
}
.button.small{
	font-size: 100%;
	padding:4px 10px;
}
.button.large{
	font-size:18px;
	padding:12px 30px;
}
input[type=submit].button, button.button{
	-webkit-appearance:none;
}
.button.black{
	background-color: #4A4845;
}
.button.blue{
	background-color: #707ef9;
}
.button.brown{
	background-color: #5e3d1d;
}
.button.green{
	background-color: #65b20e;
}
.button.orange{
	background-color: #ff9900;
}
.button.pink{
	background-color: #fc149f;
}
.button.purple{
	background-color: #993d9e;
}
.button.red{
	background-color: #fc5a5a;
}
.button.silver{
	background-color: #858585;
}
.button.yellow{
	background-color: #f7c707;
}
.button.white{
	background-color: #f4f4f4;
	border-color: #ccc;
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.08), inset 1px 1px 1px rgba(255,255,255,0.2);
       -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.08), inset 1px 1px 1px rgba(255,255,255,0.2);
            box-shadow:0px 1px 2px rgba(0,0,0,0.08), inset 1px 1px 1px rgba(255,255,255,0.2);
	color: #666;
	text-shadow: none;
}
.button.white:hover{
	color: #4A4845;
}

/* Font Awesome
 * the iconic font designed for use with Twitter Bootstrap
 * -------------------------------------------------------
 * The full suite of pictographic icons, examples, and documentation
 * can be found at: http://fortawesome.github.com/Font-Awesome/

 * License
 * -------------------------------------------------------
 * The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
 * http://creativecommons.org/licenses/by/3.0/ A mention of
 * 'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
 * source code is considered acceptable attribution (most common on the web).
 * If human readable source code is not available to the end user, a mention in
 * an 'About' or 'Credits' screen is considered acceptable (most common in desktop
 * or mobile software).

 * Contact
 * -------------------------------------------------------
 * Email: dave@davegandy.com
 * Twitter: http://twitter.com/fortaweso_me
 * Work: http://lemonwi.se co-founder */
 
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=3.0.2');
	src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=3.0.2') format('embedded-opentype'),
	url('../fonts/fontawesome/fontawesome-webfont.woff?v=3.0.2') format('woff'),
	url('../fonts/fontawesome/fontawesome-webfont.ttf?v=3.0.2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* FontAwesome styles */
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;

	/* sprites.less reset */
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
	background-image: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
	display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
	vertical-align: -10%;
	font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
	display: inline;
	/* keeps button heights with and without icons the same */

}
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
	line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
	display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
	line-height: .9em;
}
li [class^="icon-"],
.nav li [class^="icon-"],
li [class*=" icon-"],
.nav li [class*=" icon-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center;
}
li [class^="icon-"].icon-large,
.nav li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */

	width: 1.5625em;
}
ul.icons {
	list-style-type: none;
	text-indent: -0.75em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
	width: .75em;
}
.icon-muted {
	color: #eeeeee;
}
.icon-border {
	border: solid 1px #eeeeee;
	padding: .2em .25em .15em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.icon-2x {
	font-size: 2em;
}
.icon-2x.icon-border {
	border-width: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.icon-3x {
	font-size: 3em;
}
.icon-3x.icon-border {
	border-width: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.icon-4x {
  	font-size: 4em;
}
.icon-4x.icon-border {
	border-width: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.pull-right {
	float: right;
}
.pull-left {
  	float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  	margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  	margin-left: .3em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  	margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  	line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
 	 margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
	 margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  	margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  	margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  	margin-left: .2em;
}
.icon-spin {
	display: inline-block;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
		height: .9em;
  }
  .btn .icon-spin {
    	height: auto;
  }
  .icon-spin.icon-large {
    	height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    	height: .75em;
  }
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }

.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }

.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }

.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }

/* Button Pack - Flat */

.inbound-flat-btn{
  display:block;
  float:left; 
  padding:.6em .6em;
  font-size:1.1em;
  margin:1em .5em;
  color:#fff;
  width:16em;
  text-decoration:none;
  cursor:pointer;
  font-family:helvetica;
  line-height:2;
  position:relative;
  z-index:2;
  overflow:hidden;
  text-shadow:0 -1px 0 rgba(0,0,0,.35);
}
.inbound-flat-btn span.icon{
  display:block;
  float:left; 
  margin:-.38em;
  font-size:1.6em;
  width:20%;
  height:56px;
  text-align:center;
  line-height:2.2;
  margin-right:1em;
}

.inbound-flat-btn.download{
  background:#2ecc71;
}
.inbound-flat-btn.download span.icon{
  background:#27ae60
}
.inbound-flat-btn.dribbble{
  background:#ea4c89
}
.inbound-flat-btn.dribbble span.icon{
  background:#c24879
}
.inbound-flat-btn.facebook{
  background:#4d69a2
}
.inbound-flat-btn.facebook span.icon{
  background:#2f477a
}

.inbound-flat-btn:after{content:'';
display:block;
width:100%;
height:100%;
box-shadow:inset 0 -2px 0 rgba(0,0,0,.25);
position:absolute;
margin:-2.6em -.6em;}

.inbound-flat-btn:active{
  height:54px;
  top:2px;
}
.inbound-flat-btn:active:after{
  box-shadow:inset 0 -2px 0 rgba(0,0,0,0);
}
/* Button Pack - Sunk */
.inbound-sunk-button-wrapper {
    width: 165px;
    background: #E0E0E0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#D7D7D7');
    background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#D7D7D7)); 
    background: -moz-linear-gradient(top,  #E9E9E9,  #D7D7D7); 
    padding: 8px;
    -webkit-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
    -moz-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
    -o-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
    -khtml-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
    box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
    -webkit-border-radius: 50px; 
    -moz-border-radius: 50px; 
    -o-border-radius: 50px; 
    -khtml-border-radius: 50px;
    border-radius: 50px;
}
a.inbound-sunk-button {
    display: block;
width: 165px;
height: 35px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
text-align: center;
line-height: 34px;
text-decoration: none;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
-o-border-radius: 50px;
-khtml-border-radius: 50px;
border-radius: 50px;
font-weight: bold;
}    
a.inbound-sunk-button:hover, a.inbound-sunk-button:active {
    border: none;
}
a.inbound-sunk-light {
background: #F5F5F5;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ECECEC');
background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ECECEC));
background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);
color: #858585;
text-shadow: 0px 1px 0px #FFF;
-webkit-box-shadow: inset 0px 1px 0 #FFF, 0px 1px 0 #B5B5B5;
-moz-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;
-o-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;
-khtml-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;
box-shadow: inset 0px 1px 0 #FFF, 0px 1px 0 #B5B5B5;
}
a.inbound-sunk-light:hover {
background: #FFF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F7F7F7');
background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F7F7F7));
background: -moz-linear-gradient(top, #FFFFFF, #F7F7F7);
color: #717171;
}
a.inbound-sunk-light:active {
background: #EEE;
color: #717171;
-webkit-box-shadow: inset 0px 2px 3px #AAA, 0px 1px 0 #B5B5B5;
-moz-box-shadow: inset 0px 2px 3px #aaa, 0px 1px 0 #B5B5B5;
-o-box-shadow: inset 0px 2px 3px #aaa, 0px 1px 0 #B5B5B5;
-khtml-box-shadow: inset 0px 2px 3px #aaa, 0px 1px 0 #B5B5B5;
box-shadow: inset 0px 2px 3px #AAA, 0px 1px 0 #B5B5B5;
}