.wpl-tab-display
{
	background-color:#fff;
}
#wplead_metabox_main .handlediv {
	display: none;
}
#lead-main-image {
	max-width:150px;
}
#postbox-container-1 {
	margin-bottom: 50px;
}
#misc-publishing-actions {
padding: 0px;
}
#poststuff {
	display: none;
}
#wplead_metabox_main.postbox {
	box-shadow: none !important;
}
.lead-comment-div p {
	margin-top: 0px;
}
.lead-notice {
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 10px
}
#publishing-action {
text-align: right;
float: left;}
#delete-action {
float: right;
}
#postcustom {
}
.lead-timeline-img img, .updated.inbound-shortcode-trigger {
	display: none !important;
}
.add-new-h2:nth-of-type(2) {
	display: none;
}
.lead-timeline-img:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f006";
	/*content: "\f05d"; */

	display: inline-block;
	text-align: right;
	margin-right: 10px;
	width: 50px;
	font-size: 54px;
}


.lead-comment-conversion .lead-timeline-img:before{
	/*content: "\f0e6"; */
	content: "\f0e5";
	font-size: 45px;

	position: absolute;
	left: 4px;
	padding-right: 0px;

}
.landing-page-conversion .lead-timeline-img:hover, .landing-page-conversion .lead-timeline-img.active-hover{
	color: rgb(0, 177, 0);
}
.lead-comment-conversion .lead-timeline-img {

}
.landing-page-conversion .lead-timeline-img {
	color: green;
}
#lead-activity-toggles{
	margin-top: 5px;
}
.landing-page-conversion .lead-timeline-img:before {
	/*content: "\f006"; */
	content: "\f046"; /* checkbox */
	font-size: 49px;
	position: absolute;
	left: 6px;


}
.lead-search-conversion .lead-timeline-img:before {
	content: "\f002";
	font-size: 45px;
	color: #525252;
}
.lead-search-conversion .lead-timeline-img.active-hover:before  {
	color: #000;
}
#lead-searches .lead-timeline {
	margin-left: 10px !important;
}
#conversions-data-display .nav-container {
margin-top: 5px;
}

.lead-comment-conversion .lead-timeline-img.active-hover,  .page-view-item .lead-timeline-img.active-hover {
	color: #2ea2cc;
}
.page-view-item .lead-timeline-img:before {
	/* content: "\f06e"; */
	content: "\f016";
}

.lead_status_dropdown {
	margin: 0px auto;
	width: 300px;
}
.lead_status_dropdown:hover h1 {
	border-radius: 5px 5px 0px 0px;
}
.lead_status_dropdown:hover li {
	padding: 10px;
	border-top: 1px #383838 solid;
	height: auto;
	overflow: auto;
	opacity: 1;
}
.lead_status_dropdown h1 {
	display: inline-block;
	padding: 10px;
	position: relative;
	background: #2e2e2e;
	color: #888888;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	border: 5px;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	transition: all 0.5s linear 0s;
}
.lead_status_dropdown h1 b {
	color: #EEE;
	font-weight: normal;
}
.lead_status_dropdown h1:before {
	content: '';
	margin-top: -2px;
	margin-right: 10px;
	display: inline-block;
	background: #888888;
	border-radius: 5px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.lead_status_dropdown h1.selected-1:before {
	background: #5790E6;
}
.lead_status_dropdown h1.selected-2:before {
	background: #8773EB;
}
.lead_status_dropdown h1.selected-3:before {
	background: #B27CD9;
}
.lead_status_dropdown h1.selected-4:before {
	background: #E884B0;
}
.lead_status_dropdown h1.selected-5:before {
	background: #EDA180;
}
.lead_status_dropdown ul {
	display: block;
	position: relative;
	list-style: none;
}
.lead_status_dropdown option {
	padding: 0px 10px;
	background: #2e2e2e;
	color: #888888;
	text-align: left;
	border: 0px;
	width: 100%;
	height: 0px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	transition-property: all, background-color;
	transition-duration: 0.2s, 0.4s;
}
.lead_status_dropdown option b {
	color: #EEE;
	font-weight: normal;
}
.lead_status_dropdown option:hover,
.lead_status_dropdown option.selected {
	background-color: #292929;
}
.lead_status_dropdown option:last-child {
	border-radius: 0px 0px 5px 5px;
}
.lead_status_dropdown option:before {
	content: '';
	margin-top: -2px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 5px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.lead_status_dropdown option:nth-child(1) {
	transition-delay: 0s, 0s;
}
.lead_status_dropdown option:nth-child(1):before {
	background: #5790E6;
}
.lead_status_dropdown option:nth-child(2) {
	transition-delay: 0.1s, 0s;
}
.lead_status_dropdown option:nth-child(2):before {
	background: #8773EB;
}
.lead_status_dropdown option:nth-child(3) {
	transition-delay: 0.2s, 0s;
}
.lead_status_dropdown option:nth-child(3):before {
	background: #B27CD9;
}
.lead_status_dropdown option:nth-child(4) {
	transition-delay: 0.3s, 0s;
}
.lead_status_dropdown option:nth-child(4):before {
	background: #E884B0;
}
.lead_status_dropdown option:nth-child(5) {
	transition-delay: 0.4s, 0s;
}
.lead_status_dropdown option:nth-child(5):before {
	background: #EDA180;
}