/* Static CSS for CTA */
@-webkit-keyframes resize {
  0% {
        height: 400px;
      }
      50% {
        height: 500px;
      }
}
@-moz-keyframes resize {
 0% {
       height: 400px;
     }
     50% {
       height: 500px;
     }
}
@-o-keyframes resize {
 0% {
       height: 400px;
     }
     50% {
       height: 500px;
     }
}
@keyframes resize {
 0% {
       height: 400px;
     }
     50% {
       height: 500px;
     }
}